body {
    background-color: #ddd3ee;
    font-family: 'Spinnaker', sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #5F0050;
}

header {
    text-align: center;
}

h1 {
    font-family: 'Lobster', cursive;
    font-size: 40px;
    padding-top: 30px;
    color: #770064;
    display: inline-block
}

p {
    font-family: 'Spinnaker', sans-serif;
    font-size: 25px;
    color: #5F0050;
    font-weight: bold;
}

#questionImage img {
    width: 320px;
    margin-top: 10px;
}

li {
    margin-bottom: 10px;
    text-align: left;
}

.startQuiz {
    font-family: 'Spinnaker', sans-serif;
    font-weight: bold;
    border-radius: 8px;
    background-color: #38959a;
    border: none;
    padding: 10px;
    font-size: 20px;
}

.instruct {
    margin: 5px 0px 10px 0px;
}

.questionSection {
    margin-top: 10px;
    text-align: center;

}

.questionImage {}

form {
    margin: auto;
    width: 300px;
    padding: 10px 0px 10px 0px
}

.submit {
    font-family: cursive;
    font-weight: bold;
    border-radius: 8px;
    background-color: #38959a;
    border: none;
    padding: 6px 6px;
    font-size: 14px;
    display: none;
}

.explain {
    font-size: 20px;
    width: 75%;
    margin: auto;
    text-align: left;
}

.explain h2 {
    font-size: 30px;
    text-align: center;
    padding-bottom: 15px;

}

#next {
    font-family: cursive;
    font-weight: bold;
    border-radius: 8px;
    background-color: #38959a;
    border: none;
    padding: 4px 10px;
    margin-top: 10px;
    font-size: 14px;
    display: block;
    margin: auto;
}

.countDiv {
    display: none;
}

.winningDiv {
    display: none;
    text-align: center;
}

.losingDiv {
    display: none;
    text-align: center;
}

.win img {
    width: 50%;
}

.lose img {
    width: 50%;
}
