body {
    background-color: #ddd3ee;
    font-family: 'Spinnaker', sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #5F0050;
    margin-top: 10px;
}

header {
    text-align: center;
    margin-bottom: 65px;
}

h1 {
    font-family: 'Lobster', cursive;
    font-size: 40px;
    padding-top: 30px;
    color: #770064;
    display: inline-block
}

p {
    font-size: 25px;
    color: #5F0050;
    font-weight: bold;
}

header .demoMessage {
    position: fixed;
    top: 0px;
    left: 35%;
    background-color: #5A0064;
    /*    color: white;*/
    padding: 10px 5%;
    width: 20%;
    text-align: center;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

header .demoMessage span,
header .demoMessage a p {
    color: white;

}

header .demoMessage a {
    cursor: pointer;
    color: white;
}

img {
    height: 420px;
    margin-top: 10px;
}

li {
    margin-bottom: 10px;
    text-align: left;
}

.startQuiz,
.resetQuiz {
    font-weight: bold;
    border-radius: 8px;
    background-color: #38959a;
    border: none;
    padding: 10px;
    font-size: 20px;
}

.instruct {
    margin: 5px 0px 10px 0px;
}

.questionSection {
    margin-top: 10px;
    text-align: center;

}

.choices {
    text-align: justify;
}

.choicesOptions {
    font-size: 20px;
}

form {
    margin: auto;
    width: 300px;
    padding: 10px 0px 10px 0px
}

.submit {
    font-family: cursive;
    font-weight: bold;
    border-radius: 8px;
    background-color: #38959a;
    border: none;
    padding: 6px 6px;
    font-size: 14px;
    display: none;
}

.explain {
    font-size: 20px;
    width: 75%;
    margin: auto;
    text-align: left;
}

.explain h2 {
    font-size: 30px;
    text-align: center;
    padding-bottom: 15px;

}

li {
    list-style: none;
}

#next {
    font-family: cursive;
    font-weight: bold;
    border-radius: 8px;
    background-color: #38959a;
    border: none;
    padding: 4px 10px;
    margin-top: 10px;
    font-size: 14px;
    display: block;
    margin: auto;
}

.countDiv {
    display: none;
}

.winningDiv {
    display: none;
    text-align: center;
}

.alertP {
    background-color: #C3B9D7;
    border-radius: 8px;
    width: 30%;
    margin: auto;
    color: #E3375B;
    padding: 10px 0px 10px 0px;
    font-size: 18px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.losingDiv {
    display: none;
    text-align: center;
}

.win img {
    height: 50%;
    width: 50%
}

.lose img {
    height: 50%;
    width: 50%;
}

.finalExplain {
    margin-top: 20px;
    width: 75%;
    margin: auto;
}
